.image_notepadelements{
    height: 54px;
width: 46px;
left: 1463px;
top: 191px;
border-radius: 0px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}
.each_notification_notepadelements{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
    padding: 6px;
}
.each_content_notepadelements{
    padding-left: 14px;
}
.typetext_notepadelements{

}
.parent_notifications{
    
}